---
language: ruby
rvm:
  - 2.6
  - 2.5
  - 2.4
  - 2.3
before_install:
  - "echo 'gem: --no-ri --no-rdoc' > ~/.gemrc"
  - gem install bundler
script:
  - bundle exec rspec spec
notifications:
  email: false
